<manifest xmlns:android="http://schemas.android.com/apk/res/android"
        package="net.purespeedx.psxxtras"
        coreApp="true"
        android:sharedUserId="android.uid.system">

    <original-package android:name="net.purespeedx.psxxtras" />

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_SETTINGS" />
    <uses-permission android:name="android.permission.WRITE_SECURE_SETTINGS" />
    <uses-permission android:name="android.permission.CHANGE_CONFIGURATION" />
    <uses-permission android:name="android.permission.HARDWARE_TEST" />
    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission android:name="android.permission.MODIFY_AUDIO_SETTINGS" />
    <uses-permission android:name="android.permission.MASTER_CLEAR" />
    <uses-permission android:name="android.permission.USE_CREDENTIALS" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />
    <uses-permission android:name="android.permission.WRITE_CONTACTS" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIMAX_STATE" />
    <uses-permission android:name="android.permission.CHANGE_WIMAX_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="com.android.certinstaller.INSTALL_AS_USER" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.CLEAR_APP_USER_DATA" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.MODIFY_PHONE_STATE" />
    <uses-permission android:name="android.permission.READ_SYNC_SETTINGS" />
    <uses-permission android:name="android.permission.WRITE_SYNC_SETTINGS" />
     <uses-permission android:name="android.permission.STATUS_BAR" />
    <uses-permission android:name="android.permission.INTERACT_ACROSS_USERS_FULL" />
    <uses-permission android:name="android.permission.COPY_PROTECTED_DATA" />
    <uses-permission android:name="android.permission.READ_PROFILE" />
    <uses-permission android:name="android.permission.ACCESS_NOTIFICATIONS" />
    <uses-permission android:name="android.permission.REBOOT" />
    <uses-permission android:name="android.permission.MANAGE_DEVICE_ADMINS" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
	<!-- <uses-permission android:name="android.permission.ACCESS_SUPERUSER" /> -->
	
    <application android:label="@string/settings_label"
            android:icon="@mipmap/ic_launcher_settings"
            android:taskAffinity=""
            android:theme="@style/Theme.Settings"
            android:hardwareAccelerated="true"
            android:requiredForAllUsers="true"
            android:supportsRtl="true">

        <!-- Settings -->
        <activity android:name="com.android.settings.Settings"
                android:label="@string/settings_label_launcher"
                android:taskAffinity="net.purespeedx.psxxtras"
                android:launchMode="singleTask">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name="com.android.settings.SubSettings"
                android:taskAffinity="net.purespeedx.psxxtras"
                android:parentActivityName="com.android.settings.Settings">				
        </activity>
		
        <!-- "Blacklist settings" UI, used only on voice-capable phone devices. -->
        <activity android:name="com.android.settings.Settings$BlacklistSettingsActivity"
                android:theme="@android:style/Theme.Holo.DialogWhenLarge"
                android:uiOptions="splitActionBarWhenNarrow"
                android:label="@string/blacklist_title"
                android:taskAffinity=""
                android:excludeFromRecents="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
            <meta-data android:name="com.android.settings.FRAGMENT_CLASS"
                android:value="com.android.settings.blacklist.BlacklistSettings" />
        </activity>


  		<receiver android:enabled="true" android:name="net.purespeedx.psxxtras.Utils.BootReceiver"
				android:permission="android.permission.RECEIVE_BOOT_COMPLETED">
			<intent-filter>
				<action android:name="android.intent.action.BOOT_COMPLETED" />
				<category android:name="android.intent.category.HOME" />
			</intent-filter>
		</receiver>		
        
		<service android:name="net.purespeedx.psxxtras.Utils.BackgroundIntentService" />"   		

        <activity android:name="com.android.settings.cyanogenmod.LockscreenTargets" />

        <activity android:name="com.android.settings.cyanogenmod.LockscreenInterface" />

     </application>
</manifest>
